In [43]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings 
warnings.filterwarnings('ignore')

In [44]:
data = pd.read_csv("ICAO_accidents.csv")

In [45]:
data.head()

,Unnamed: 0,Date,StateOfOccurrence,Location,Model,Registration,Operator,StateOfOperator,StateOfRegistry,FlightPhase,...,InjuryLevel,TypeDesignator,Helicopter,Airplane,Engines,EngineType,Official,OccCats,Risk,Year
0,0,"""2008-01-02T00:00:00.000Z""",PHL,Masbate Airport (MBT),NAMC YS11 A,RP-C3592,Philippines Asian Spirit,PHL,PHL,Landing,...,None,YS11,NaN,True,2,Turboprop,True,"[""RE""]",RS,2008
1,1,"""2008-01-02T00:00:00.000Z""",IRN,Tehran-Mehrabad Airport (THR),FOKKER F27 100,EP-IDB,"Iran, Islamic Republic Of Iran National Airlin...",IRN,IRN,Take-off,...,None,F27,NaN,True,2,Turboprop,True,"[""F-POST"",""ICE""]",OTH,2008
2,2,"""2008-01-03T00:00:00.000Z""",USA,Oklahoma City,PILATUS PC12,N398J,NaN,NaN,USA,Standing,...,Fatal,PC12,False,True,1,Turboprop,NaN,"[""RAMP""]",RS,2008
3,3,"""2008-01-04T00:00:00.000Z""",VEN,A 20 NM del VOR del Gran Roque,LET L410 UVP,YV2081,Venezuela,VEN,VEN,En route,...,Fatal,L410,NaN,True,2,Turboprop,True,"[""SCF-PP""]",SCF,2008
4,4,"""2008-01-05T00:00:00.000Z""",USA,Kodiak,PIPER PA31P 350,N509FN,NaN,NaN,USA,Take-off,...,Fatal,PA47,False,True,1,Jet,NaN,"[""LOC-I"",""SCF-NP""]",LOC-I,2008

In [46]:
data.tail(2)

,Unnamed: 0,Date,StateOfOccurrence,Location,Model,Registration,Operator,StateOfOperator,StateOfRegistry,FlightPhase,...,InjuryLevel,TypeDesignator,Helicopter,Airplane,Engines,EngineType,Official,OccCats,Risk,Year
6107,42,"""2022-05-11T00:00:00.000Z""",CMR,near Nanga Eboko,Viking DHC-6 Twin Otter 400,TJ-TIM,Caverton Helicopters,NaN,CMR,En route,...,Fatal,DHC6,False,True,2,Turboprop,NaN,[],LOC-I,2022
6108,43,"""2022-05-12T00:00:00.000Z""",CHN,Chongqing-Jiangbei International Airport (CKG),Airbus A319-115 (WL),B-6425,Tibet Airlines,CHN,CHN,Take-off,...,NaN,A319,False,True,2,Jet,NaN,[],RS,2022

In [47]:
data.shape

(6109, 25)

In [48]:
data.columns

Index(['Unnamed: 0', 'Date', 'StateOfOccurrence', 'Location', 'Model',
       'Registration', 'Operator', 'StateOfOperator', 'StateOfRegistry',
       'FlightPhase', 'Class', 'Fatalities', 'Over2250', 'Over5700',
       'ScheduledCommercial', 'InjuryLevel', 'TypeDesignator', 'Helicopter',
       'Airplane', 'Engines', 'EngineType', 'Official', 'OccCats', 'Risk',
       'Year'],
      dtype='object')

In [49]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
6104    False
6105    False
6106    False
6107    False
6108    False
Length: 6109, dtype: bool

In [50]:
data.duplicated().sum()

0

In [51]:
data.isnull().sum()

Unnamed: 0                0
Date                      0
StateOfOccurrence       802
Location                351
Model                   243
Registration              0
Operator               1925
StateOfOperator        4718
StateOfRegistry           2
FlightPhase             934
Class                     0
Fatalities             1141
Over2250                  0
Over5700                 24
ScheduledCommercial    2832
InjuryLevel            1955
TypeDesignator            0
Helicopter             1228
Airplane                  0
Engines                   0
EngineType                0
Official               4765
OccCats                   0
Risk                    750
Year                      0
dtype: int64

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6109 entries, 0 to 6108
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6109 non-null   int64
 1   Date                 6109 non-null   object
 2   StateOfOccurrence    5307 non-null   object
 3   Location             5758 non-null   object
 4   Model                5866 non-null   object
 5   Registration         6109 non-null   object
 6   Operator             4184 non-null   object
 7   StateOfOperator      1391 non-null   object
 8   StateOfRegistry      6107 non-null   object
 9   FlightPhase          5175 non-null   object
 10  Class                6109 non-null   object
 11  Fatalities           4968 non-null   float64
 12  Over2250             6109 non-null   bool
 13  Over5700             6085 non-null   object
 14  ScheduledCommercial  3277 non-null   object
 15  InjuryLevel          4154 non-null   object
 16  TypeDesignator       6109 non-null   object
 17  Helicopter           4881 non-null   object
 18  Airplane             6109 non-null   bool
 19  Engines              6109 non-null   int64
 20  EngineType           6109 non-null   object
 21  Official             1344 non-null   object
 22  OccCats              6109 non-null   object
 23  Risk                 5359 non-null   object
 24  Year                 6109 non-null   int64
dtypes: bool(2), float64(1), int64(3), object(19)
memory usage: 1.1+ MB

In [53]:
data.describe()

        Unnamed: 0   Fatalities      Engines         Year
count  6109.000000  4968.000000  6109.000000  6109.000000
mean    268.898183     2.037641     1.754624  2012.993616
std     210.107085    12.957411     0.685855     3.918512
min       0.000000     0.000000     1.000000  2008.000000
25%     105.000000     0.000000     1.000000  2010.000000
50%     221.000000     0.000000     2.000000  2012.000000
75%     376.000000     0.000000     2.000000  2016.000000
max     931.000000   298.000000     6.000000  2022.000000

In [54]:
data = data[(data['ScheduledCommercial']==True ) & (data['Airplane'] == True) & (data['EngineType']==True)]

In [55]:
data.columns

Index(['Unnamed: 0', 'Date', 'StateOfOccurrence', 'Location', 'Model',
       'Registration', 'Operator', 'StateOfOperator', 'StateOfRegistry',
       'FlightPhase', 'Class', 'Fatalities', 'Over2250', 'Over5700',
       'ScheduledCommercial', 'InjuryLevel', 'TypeDesignator', 'Helicopter',
       'Airplane', 'Engines', 'EngineType', 'Official', 'OccCats', 'Risk',
       'Year'],
      dtype='object')

In [56]:
data = data.drop(columns =['Unnamed: 0', 'Date', 'StateOfOccurrence', 'Location', 'Model',
       'Registration', 'Operator', 'StateOfOperator', 'StateOfRegistry','Over2250', 'Over5700',
       'ScheduledCommercial', 'TypeDesignator', 'Helicopter',
       'Airplane', 'Engines', 'EngineType', 'Official', 'OccCats'])

In [60]:
data.nunique()

FlightPhase    0
Class          0
Fatalities     0
InjuryLevel    0
Risk           0
Year           0
dtype: int64

In [58]:
data['Year'].unique()

array([], dtype=int64)

In [59]:
data['Year'].value_counts()

Series([], Name: Year, dtype: int64)